@using SimulationDay6.ViewModels.Persons
@model List<PersonGetVM>
@{
    int order = 1;
}
<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Position name</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(order++)</th>
                <td><img src="~/imgs/persons/@item.ImageUrl" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.PositionName</td>
                <td>
                    <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }

    </tbody>
</table>

